<div class="slide-4">
  <div class="slide-4__content">
    <slide-title [animation]="animationActive" [delay]="0" text="1.2 What is" strong="HTML?"></slide-title>
    <div class="slide-4__content__about"
         [ngClass]="{'slide-4__content__about--active': animationActive}">
      <div class="slide-4__content__about__img">
        <img src='assets/Tim_Berners-Lee.jpg' />
      </div>
      <div class="slide-4__content__about__text">
        <p>The HTML language was developed by the British scientist Tim Berners-Lee around 1986-1991 in the walls of CERN in Geneva in Switzerland. HTML was created as a language for the exchange of scientific and technical documentation, suitable for use by people who are not specialists in layout. HTML successfully coped with the complexity of SGML by defining a small set of structural and semantic elements - descriptors. Descriptors are also often called "tags". With HTML, you can easily create a relatively simple but beautifully designed document. In addition to simplifying the structure of the document, hypertext is supported in HTML. Multimedia features were added later.</p>
      </div>
    </div>
  </div>
</div>
