<app-header></app-header>

<main>
  <div class="slides" [ngStyle]="{'transform': 'translate('+ trakTranslate +'px)'}">

    <slide-1 class="slides__item"></slide-1>

    <slide-2 class="slides__item"></slide-2>

    <slide-3 class="slides__item"></slide-3>

    <slide-4 class="slides__item"></slide-4>

    <slide-5 class="slides__item"></slide-5>

    <slide-6 class="slides__item"></slide-6>

    <slide-7 class="slides__item"></slide-7>

    <slide-8 class="slides__item"></slide-8>

    <slide-9 class="slides__item"></slide-9>

    <slide-10 class="slides__item"></slide-10>

		<slide-11 class="slides__item"></slide-11>

  </div>
</main>
