<div class="slide-6">
  <div class="slide-6__content">
    <slide-title [animation]="animationActive" [delay]="0" text="2.2 HTML Tags" strong="structure"></slide-title>

    <div class="slide-6__content__examples">
      <div #code1 class="slide-6__content__examples__code">
        <app-code tagName="div" propId="elementId" propClass="element-class"></app-code>
      </div>
      <div #code2 class="slide-6__content__examples__code">
        <app-code tagName="h3" propName="element_name" someCode="someCode"></app-code>
      </div>
      <div #code3 class="slide-6__content__examples__code">
        <app-code tagName="img" singleTag="true" propData="elementDataId"></app-code>
      </div>
    </div>
  </div>
</div>
